
{% extends "base.html" %}

{% block start%}

<div class= 'container'>

    <form class= 'col-6 mx-auto card p-3 shadow-lg' method = 'post' enctype="multipart/form-data">

        {% csrf_token %}
        <h3 class='shadow-lg bg-primary-subtle p-2 text-center mb-4 text-primary'>Add Receipe</h3>
        <div class="mb-3">
          <label class="form-label" >Receipe name : </label>
          <input type="text" class="form-control required" name='recipe_name'>
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Description</label>
          <textarea class="form-control" name ='recipe_des' required ></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Image</label>
          <input type="file" class="form-control" name='recipe_img' required>
        </div>
        <div class= 'd-flex justify-content-center pt-2'>
            <button type="submit" class="btn btn-primary">Add Receipe</button>
        </div>
      </form>

</div>

<div class= 'mt-5'>
  {% include "oneReceipes.html" %}
</div>

{% endblock %}

